body{
    background: black;
}

.logo{
    width: 18%;
    padding: 23px 0px 0px 20px;
    padding-top: 3%;
}

.live {
    width: 6%;
    padding-bottom: 0%;
}

#acontecendo {
    color: white;
    display: inline-block;
    font-size: 60px;
    position: relative;
    font-weight: bold;
    top: 20%;
    left: 4%;
}

.dataehora {
    color: white;
    font-family: verdana;
    text-align-last: center;
    position: absolute;
    right: 35%;
    top: 55px;
}

#time {
    font-size: 800%;
}

#date {
    font-size: 400%;
}

#day {
    font-size: 300%;
}

#aulaatual {
    color: white;
    font-size: 60px;

}
#professor {
    color: white;
    font-size: 55px;

}


.fadeOut {
	opacity: 0;
	transition: 0.5s;
}

.fadeIn {
	opacity: 100;
	transition: 0.5s;
}

#tabela-aula {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 4%;
}

.tdlogo {
    display: inline;
    width: 107%;
}

#tabela-proximas {
    position: relative;
    display: inline-block;
    color: white;
    text-align: center;
    padding-left: 1%;
    padding-top: 5%;
    padding-bottom: 12%;
    left: 44%;
}

.borda { 
border-style: double;
border-color: white;
font-weight: 10px;
}



.borda {
    border-collapse: collapse;
    
  }
  
  .borda td {
    border: 1px solid white;
  }

#tabela-proximas td {
    font-size: 60px;
    padding: 10px;
}

.terminou {
    color: greenyellow;
    
}

.aovivo {
    color: red;
    font-weight: bold;
}

.proxima {
    color: yellow;
}



